body {
    background: linear-gradient(to right, #ffffff, #d4d4d4 );
    color: rgba(0, 0, 0, 0.87);
    font-family: sans-serif;
    font: verdana;
    margin: 1em;
  }
  
  header {
    padding: 0.5em 1em;
    font: italic; 
    color: #4a74f0; 
    text-shadow: 1px 1px 5px #8a8a8a
  }
  
  h1 {
    max-width: 1170px;
  }
  
  h1 {
    display: block;
    font-size: 34px;
    line-height: 34px;
    color: rgba(0, 16, 247, 0.87);
  }
  
  div.postTitle {
    font-family: Verdana, helvetica, Tahoma, sans-serif;
    margin-left: 15px;
  }
  
  div.postContent {
    font-family: Verdana, helvetica, Tahoma, sans-serif;
    border: black;
    border-style: solid;
    background-color: #ffffff ;
    margin: 15px;
    border-width:thin;
    max-width:100%;
    padding: 1rem;
    border-radius: 30px;
    box-shadow: 5px 5px 10px #b9b9b9;
    
  
  }
  
  div.avatarColouredBox {
    display: inline-block;
    vertical-align: top;
    width: 150px;
    height: 150px;
    border-radius: 30px;
  }
  
  div.postBodyContainer {
    display: inline-block;
  }
  
  div.postContainer {
    font-family: Verdana, helvetica, Tahoma, sans-serif;
    border: black;
    border-style: solid;
    background-color: #ffffff ;
    margin: 15px;
    border-width:thin;
    padding: 1rem;
    border-radius: 30px;
    width: fit-content;
    box-shadow: 5px 5px 10px #b9b9b9;
  }
  
  div.avatarImage {
    width: 10px;
    margin: 3px;
  }